.sectionContainer.building h3 {
    color: #3a833a;
}

.sectionContainer.training h3 {
    color: #ff3f3f
}

.sectionContainer.research h3 {
    color: #0086d7;
}

.sectionContainer.universal h3 {
    color: #737272
}