body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #1e1e1e
}

h1 {
  color: #fff;
  text-shadow: #000 0px 0px 4px;
  font-size: 32px;
}

h2 {
  color: #000;
  text-shadow: #fff 0px 0 10px;
  font-size: 28px;
}

h3 {
  color: #222225;
}

.overlay {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 17, 255, 0.096), #fff), 
                    url('./img/cod3.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.pageLayout {
  height: 100vh;
  margin-top: -60px;
  padding-top: 120px;
}

.pageContent {
  position: relative;
  z-index: 2;
}

nav {
  background-color: #202020;
  border-bottom: 3px solid #f55252;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 55px;
}

nav ul {
  list-style-type: none;
  padding: 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}

nav li {
  display: inline;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

a:hover {
  color: #c4c4c4;
}

.main {
  margin: 30px;
}

h1 {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.articleHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.articleHeader h3 {
  padding: 0;
  margin: 0 20px 0 0;
}

.sectionTotal {
  font-weight: bold;
}

.summaryContainer {
  margin-top: 25px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.summaryContainer h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.resetBtn {
  background-color: #d71010;
  color: #fff;
  border: solid 1px #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Media query for larger screens */
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  .summaryContainer {
    justify-content: space-between;
    flex-flow: row;
  }
}