nav {
  background-color: #298b31;
  padding: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}

nav li {
  display: inline;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

a:hover {
  color: #c4c4c4;
}

.main {
  margin: 30px;
}

h1 {
  text-align: center;
}

.sectionTotal {
  font-weight: bold;
}