.sectionContainer.gold h3 {
    color: rgb(204, 174, 1);
}

.sectionContainer.wood h3 {
    color: rgb(136, 109, 76);
}

.sectionContainer.ore h3 {
    color: rgb(107, 107, 107);
}

.sectionContainer.mana h3 {
    color: rgb(117, 131, 255);
}

.sectionContainer.choice h3 {
    color: #020b61
}